/* src/App.css */
/* .body {
  touch-action: pan-x pan-y;
  user-select: none;
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
  -ms-touch-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  zoom: reset;
}

:root {
  --black: #222;
  --white: #fff;
  --primary: #A50932;
} */

H1::selection {
  background: red;
  color: rgb(255, 255, 255);
}
h3::selection {
  background: red;
  color: rgb(255, 255, 255);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
