/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .body {
  touch-action: pan-x pan-y;
  user-select: none;
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
  -ms-touch-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  zoom: reset;
}

:root {
  --black: #222;
  --white: #fff;
  --primary: #A50932;
} */


a {
  /* font-weight: 500;
  color: #1d1d1d;
  text-decoration: inherit; */
}
a:hover {
  /* color: #bc1212; */
}


h1 {
  /* font-size: 3.2em;
  line-height: 1.1; */
}

button {
  /* border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s; */
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
